.homebody{
    background-color: #F7F1E4;
}

.nav-item a{
    color: black !important;
    font-family: 'helvetica';
}

.logo{
    width: 300px;
    height: 59px;
}
.boxes{
    flex-wrap: wrap;
}

.boxes .col{
    margin: 1px;
}

.box{
    width: 75px;
    height: 128px;
    border: 1px solid #707070;
    background-color: white;
}

.box1{
    width: 160px;
    height: 210px;
    background-color: white;
    border: 1px solid #707070;
}

.main-content{
    font-family: 'helvetica';
}

.main-content h1{
    font-size: 100px;
    color: black;
}
.main-content p{
    color: black;
}

.main-content-homepage{

}


.homepage-paragraph{
    font-family: 'helvetica';
    font-size: 20px;
}

footer{
    background-color: #23242B;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-family: 'helvetica';
    
}

.main-content-about-page{
    font-family: 'helvetica';
}

.about-page-quote{
    font-family: 'helvetica';
    font-size: 22px;
}



 /*------------------- tab view  ---------------*/

 @media only screen and (min-width: 577px) and (max-width: 990px) {
    .main-content h1 {
            font-size: 90px;
    }
 }



 /*------------------- Mobile view  ---------------*/
 @media only screen and (max-width: 576px) {
    .main-content h1 {
            font-size: 60px;
    }
 }